@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
  cursor: pointer;
  svg {
    width: 60px;
    height: 60px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: $primary-color
}

.change_theme {
  margin-left: 15px;
  cursor: pointer;
  svg {
    width: 25px;
    height: 25px;
  }  
}