$box-shadow: 8px 8px 8px 1px rgba(180, 180, 180, 0.2);
$border-radius: 20px;

$primary-color: #48a7ff;
$base-color: #939cb0;

$light-color: #000;
$dark-color: #fff;

$light-background: #fcfcfc;
$dark-background: #0d1218;


$secondary-color: #fff4d9;